// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

@font-face {
	font-family: "MinervaModern-Regular";
	src: url("./Minerva-ModernRegular.tff") format('truetype');
	font-style: normal;
	font-weight: 400;
}

$font: 'MinervaModern-Regular';

body {
	font-family: $font;
}