@font-face {
	font-family: "MinervaModern-Regular";
	src: url("./Minerva-ModernRegular.tff") format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Butler_Black";
	src: url("./Butler/Butler_Black.otf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'canvas-regular';
	src: url('canvas-regular.otf');
	font-style: normal;
}

@font-face {
	font-family: 'calibre-light';
	src: url('Calibre-Light.ttf');
	font-style: normal;
}

.menu-bar {
	font-family: 'canvas-regular';
	font-weight: 1000;
}

.navbar-brand {
	font-family: "Butler_Black";
}

.site {
	font-family: 'calibre-light';
	font-size:  1.5rem;
}

.latest {
	font-family: 'canvas-regular';
	font-size:  2rem;
	font-weight:  bold;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container p{
	margin-top: 40px;
}

.menu-bar > *{
	margin-left: 10px;
}

.navbar {
	font-size: 1.2rem;
	padding-left:  0;
	padding-left:  0;
}

.navbar-light .navbar-brand {
	color:  mediumpurple;
	font-size: 2rem;
	/*font-family: "Butler_Black";*/
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: mediumpurple;
}

h1 {
	font-size: 4rem;
	font-family:  "canvas-regular";
	font-weight:  bold;
}

.home-desc {
	margin-top: 40px;
}

#email {
	color: black;
}

h5 {
	font-weight: bold;
}

h5.home-desc {
	margin-top:  2rem;
}

.section-title {
	font-size:  3rem;
}